body {
	font-family: arial;
	font-weight: 16px;
}
.jumbotron {
	background-color: #3a488f!important;
    padding: 10px;
    border-left: 5px solid;
    border-radius: 2px;
    margin: 0 auto;
    margin-top: 20px;
    border-color: #ce2929;
    width: 85%;
    color: #fff;
}
.container {
	padding: 20px;
}
.App {
	background-color: #adb5bd;
}